<h3>Welcome To Ezra's Demo Website</h3>
<p>
  <%= link_to "Ajax Demo using JQuery", events_url %> &mdash; <%= link_to "Source code for this website", "https://github.com/ezrarush/personal_website" %>
</p>
<br>
<h4>Other Websites</h4>
<p>
  <%= link_to "A business website", "https://github.com/ezrarush/company_website" %> &mdash; <%= link_to "Demo", "https://new-name-network.herokuapp.com/" %>
</p>
<p>
  Please read this blog post detailing the website's features. <%= link_to "https://new-name-network.herokuapp.com/blog/posts/website-features", "https://new-name-network.herokuapp.com/blog/posts/website-features" %>
</p>
<p>
  <%= link_to "A private forum and event calendar", "https://github.com/ezrarush/private_forum" %> &mdash;  <%= link_to "Demo", "https://private-forum.herokuapp.com/users/sign_in" %>
</p>
<p>
  <%= link_to "A restaurant menu and point of sales app", "https://github.com/ezrarush/tryit" %> &mdash; <%= link_to "Demo", "https://secret-savannah-9156.herokuapp.com/" %>
</p>
